body {
    font: 20px Arial;
}



.navbar {
    background-color: white;
}

.quem-somos{
    background-color: rgb(141, 156, 224);
    color: white;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: rgb(84, 84, 240);
}
.bg-footer{
    background-color: black;
    color: white;
}